@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #fff;
    color: #000;
    font-size: 13px;
    line-height: 1.5;
  }

  /* Let browser default link styling through */
  a {
    color: -webkit-link;
    color: linktext;
    text-decoration: underline;
    cursor: pointer;
  }

  a:visited {
    color: -webkit-activelink;
    color: visitedtext;
  }
}
